.wrapper{
    position: absolute;
    top: 20%;
    left: 30%;
}

.modal-box{
    position: relative;
    height: 700px;
    width: 900px;
    border-radius: 10px;
    border: 1px solid #C4C4C4;
}
.gird  {
    width: 600px;
    height: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px 50px 50px 50px;
    border-radius: 50px;
    border: 2px solid #cbcbcb;
    box-shadow: 10px 15px 5px #cbcbcb;
}

#questions {
    font-family: sans-serif;
    font-size: 30px;
    color: #5a6772;
}

.options {
    margin-top: 180px;
    button{
        background-color: #778897;
        width: 300px;
        height: 40px;
        font-size: 20px;
        color: white;
        border: 1px solid #1d3c6a;
        border-radius: 50px;
        margin: 60px 30px 5px 90px;
        padding: 10px 10px;
        outline: none;
    }

    :hover {
        cursor: pointer;
        background-color: #57636e;
    }

}
