<div class="wrapper">
    <mat-card>
        <mat-card-content>
          <div class="content1">
                <h1 style="margin-top: 160px; margin-left: 120px; width: 200px;"><a [routerLink]="['/rockpaperscissor']">Rock Paper Scissor Game</a> </h1>
                
         </div>



        </mat-card-content>   
    </mat-card>

    <mat-card>
        <mat-card-content>
            <div class="content2">
                <h1 style="margin-top: 160px; margin-left: 150px;"><a href="https://davidnso.github.io/trivia-swen/"> Trival Game</a> </h1>
            </div>




        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-content>
            <div class="content1">
                <h1 style="margin-top: 160px; margin-left: 150px;"><a href="https://davidnso.github.io/card-game-swen/"> Card Game</a> </h1>
            </div>


                    
        </mat-card-content>
      </mat-card>
</div>