<div class="header">
    <p>Company Name Here</p>
    <div class="list">
        <li><a style="color:gray"  [routerLink]="['/welcome']"> Home </a></li>
        <li><a style="color:gray"[routerLink]="['/login']"> Login</a></li>
        <li><a style="color:gray"[routerLink]="['/admin/dashboard']"> Dashboard </a></li>
        <li><a style="color:#F57B51" [routerLink]="['/login']"> Sign up </a></li>
        <li><a style="color:#F57B51" [routerLink]="['/donate']"> Donate </a></li>
    </div>
</div>

<router-outlet></router-outlet>