p {
    font-family: Lato;
  }
  
  .wrapper{
    display: inline-grid;
    margin-left: 500px;
    margin-top: 200px;
    width: 1500px;
    height: 500px;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 100px;
    padding: 2em;
  }
  
  .content1{
    display:grid;
    grid-template-columns: 2fr 1fr;
  }
  
  .score{
    margin-top:.5em;
    margin-left:2em;
    font-size:1.5em;
  }
  
  .content2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 100px;
  }
  
  .fa{
    cursor:pointer;
    font-size:5em;
    background-color: blue;
  }
  
  .selectedWeapon{
    color: background;
  }

  .flex-container{
    display:flex;
    width:100%;
  }
  
  .flex-center{
    align-items: center;
    justify-content: center;
  }
  